<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.zgr.pushservice.app">

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application>

        <activity
            android:screenOrientation="portrait"
            android:name=".ConnectionActivity"
            android:label="@string/title_activity_connection" />

    </application>

</manifest>