<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="im.zgr.pushservice.sample">

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:exported="true"
            android:name=".AppActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_web_view"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme" />

        <service
            android:name=".AppService"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="im.zgr.pushservice.sample-link" />
                <action android:name="im.zgr.pushservice.sample-open-app" />
                <action android:name="im.zgr.pushservice.sample-clear" />
            </intent-filter>
        </service>

    </application>

</manifest>
